language: ruby

rvm:
  - 2.0.0
  - 2.1.10
  - 2.2.10
  - 2.3.8
  - 2.4.9
  - 2.5.7
  - 2.6.5
  - 2.7.0

gemfile:
  - gemfiles/rails_3.2.gemfile
  - gemfiles/rails_4.2.gemfile
  - gemfiles/rails_5.2.gemfile

matrix:
  exclude:
    - rvm: 2.0.0
      gemfile: gemfiles/rails_5.2.gemfile
    - rvm: 2.1.10
      gemfile: gemfiles/rails_5.2.gemfile
    - rvm: 2.4.9
      gemfile: gemfiles/rails_3.2.gemfile
    - rvm: 2.5.7
      gemfile: gemfiles/rails_3.2.gemfile
    - rvm: 2.6.5
      gemfile: gemfiles/rails_3.2.gemfile
    - rvm: 2.7.0
      gemfile: gemfiles/rails_3.2.gemfile
    - rvm: 2.7.0
      gemfile: gemfiles/rails_4.2.gemfile

before_script:
  - bundle exec rake db:migrate

script:
  - bundle exec rspec
  - bundle exec rubocop
